$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;

$colors: (
	"navy": $navy,
	"blue": $blue,
	"aqua": $aqua,
	"teal": $teal,
	"olive": $olive,
	"green": $green,
	"lime": $lime,
	"yellow": $yellow,
	"orange": $orange,
	"red": $red,
	"fuchsia": $fuchsia,
	"purple": $purple,
	"maroon": $maroon,
	"white": $white,
	"silver": $silver,
	"gray": $gray,
	"black": $black
);


@each $name, $color in $colors {
	.color-#{$name} {
		color: $color;
	}
}

@each $name, $color in $colors {
	.color-bg-#{$name} {
		background-color: $color;
	}
}
