[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-connected-device:before {
  content: "\ea46";
}
.icon-radio:before {
  content: "\ea47";
}
.icon-sensor:before {
  content: "\ea48";
}
.icon-wifi:before {
  content: "\ea49";
}
.icon-wifi2:before {
  content: "\ea4a";
}
.icon-tap:before {
  content: "\ea45";
}
.icon-wfh:before {
  content: "\ea44";
}
.icon-fire:before {
  content: "\ea43";
}
.icon-hamburger-menu-3:before {
  content: "\e9f8";
}
.icon-hamburger-menu-1:before {
  content: "\e9f9";
}
.icon-hamburger-menu-2:before {
  content: "\e9fa";
}
.icon-power-button:before {
  content: "\e900";
}
.icon-air-conditioner-3:before {
  content: "\e901";
}
.icon-continuous:before {
  content: "\e902";
}
.icon-high:before {
  content: "\e903";
}
.icon-house:before {
  content: "\e904";
}
.icon-house-1:before {
  content: "\e905";
}
.icon-house-2:before {
  content: "\e906";
}
.icon-house-3:before {
  content: "\e907";
}
.icon-house-4:before {
  content: "\e908";
}
.icon-house-5:before {
  content: "\e909";
}
.icon-house-6:before {
  content: "\e90a";
}
.icon-humidity:before {
  content: "\e90b";
}
.icon-low:before {
  content: "\e90c";
}
.icon-mode:before {
  content: "\e90d";
}
.icon-night:before {
  content: "\e90e";
}
.icon-off-button:before {
  content: "\e90f";
}
.icon-on-button:before {
  content: "\e910";
}
.icon-sun:before {
  content: "\e911";
}
.icon-thermometer:before {
  content: "\e912";
}
.icon-thermometer-1:before {
  content: "\e913";
}
.icon-thermometer-2:before {
  content: "\e914";
}
.icon-thermometer-3:before {
  content: "\e915";
}
.icon-thermometer-4:before {
  content: "\e916";
}
.icon-thermometer-5:before {
  content: "\e917";
}
.icon-thermometer-6:before {
  content: "\e918";
}
.icon-thermometer-7:before {
  content: "\e919";
}
.icon-thermometer-8:before {
  content: "\e91a";
}
.icon-thermometer-9:before {
  content: "\e91b";
}
.icon-thermometer-10:before {
  content: "\e91c";
}
.icon-thermometer-11:before {
  content: "\e91d";
}
.icon-thermometer-12:before {
  content: "\e91e";
}
.icon-timer:before {
  content: "\e91f";
}
.icon-back:before {
  content: "\e920";
}
.icon-next-4:before {
  content: "\e921";
}
.icon-up-arrow:before {
  content: "\e922";
}
.icon-down-arrow:before {
  content: "\e923";
}
.icon-back-1:before {
  content: "\e924";
}
.icon-next-1:before {
  content: "\e925";
}
.icon-up-arrow-4:before {
  content: "\e926";
}
.icon-downloading:before {
  content: "\e927";
}
.icon-back-7:before {
  content: "\e928";
}
.icon-right-arrow-2:before {
  content: "\e929";
}
.icon-battery:before {
  content: "\e92a";
}
.icon-battery-1:before {
  content: "\e92b";
}
.icon-battery-2:before {
  content: "\e92c";
}
.icon-battery-3:before {
  content: "\e92d";
}
.icon-battery-4:before {
  content: "\e92e";
}
.icon-battery-5:before {
  content: "\e92f";
}
.icon-battery-6:before {
  content: "\e930";
}
.icon-bell:before {
  content: "\e931";
}
.icon-calendar:before {
  content: "\e932";
}
.icon-clock:before {
  content: "\e933";
}
.icon-cloud:before {
  content: "\e934";
}
.icon-cloud-1:before {
  content: "\e935";
}
.icon-cloudy:before {
  content: "\e936";
}
.icon-cloudy-1:before {
  content: "\e937";
}
.icon-diagonal-arrow-5:before {
  content: "\e938";
}
.icon-diagonal-arrow-6:before {
  content: "\e939";
}
.icon-diagonal-arrow-7:before {
  content: "\e93a";
}
.icon-diagonal-arrows:before {
  content: "\e93b";
}
.icon-home:before {
  content: "\e93c";
}
.icon-heart:before {
  content: "\e93d";
}
.icon-star:before {
  content: "\e93e";
}
.icon-garbage:before {
  content: "\e93f";
}
.icon-stats:before {
  content: "\e940";
}
.icon-pie-chart:before {
  content: "\e941";
}
.icon-screwdriver:before {
  content: "\e942";
}
.icon-wrench:before {
  content: "\e943";
}
.icon-wrench-1:before {
  content: "\e944";
}
.icon-search:before {
  content: "\e945";
}
.icon-zoom-in:before {
  content: "\e946";
}
.icon-zoom-out:before {
  content: "\e947";
}
.icon-settings:before {
  content: "\e948";
}
.icon-settings-1:before {
  content: "\e949";
}
.icon-settings-2:before {
  content: "\e94a";
}
.icon-padlock-closed:before {
  content: "\e94b";
}
.icon-padlock-open:before {
  content: "\e94c";
}
.icon-hail:before {
  content: "\e94d";
}
.icon-night2:before {
  content: "\e94e";
}
.icon-night-1:before {
  content: "\e94f";
}
.icon-night-2:before {
  content: "\e950";
}
.icon-night-3:before {
  content: "\e951";
}
.icon-rain:before {
  content: "\e952";
}
.icon-rain-1:before {
  content: "\e953";
}
.icon-snowflake:before {
  content: "\e954";
}
.icon-soundcloud:before {
  content: "\e955";
}
.icon-storm:before {
  content: "\e956";
}
.icon-storm-1:before {
  content: "\e957";
}
.icon-sunny:before {
  content: "\e958";
}
.icon-sunny-1:before {
  content: "\e959";
}
.icon-temperature:before {
  content: "\e95a";
}
.icon-temperature-1:before {
  content: "\e95b";
}
.icon-thermometer2:before {
  content: "\e95c";
}
.icon-thermometer-13:before {
  content: "\e95d";
}
.icon-thermometer-22:before {
  content: "\e95e";
}
.icon-haze:before {
  content: "\e95f";
}
.icon-haze-1:before {
  content: "\e960";
}
.icon-wind:before {
  content: "\e961";
}
.icon-wind-1:before {
  content: "\e962";
}
.icon-cloud2:before {
  content: "\e963";
}
.icon-cloud-12:before {
  content: "\e964";
}
.icon-clouds:before {
  content: "\e965";
}
.icon-cloudy2:before {
  content: "\e966";
}
.icon-night3:before {
  content: "\e967";
}
.icon-night-12:before {
  content: "\e968";
}
.icon-night-22:before {
  content: "\e969";
}
.icon-rain2:before {
  content: "\e96a";
}
.icon-rain-12:before {
  content: "\e96b";
}
.icon-rain-2:before {
  content: "\e96c";
}
.icon-rain-3:before {
  content: "\e96d";
}
.icon-rain-4:before {
  content: "\e96e";
}
.icon-rain-5:before {
  content: "\e96f";
}
.icon-rain-6:before {
  content: "\e970";
}
.icon-rain-7:before {
  content: "\e971";
}
.icon-rain-8:before {
  content: "\e972";
}
.icon-rain-9:before {
  content: "\e973";
}
.icon-rain-10:before {
  content: "\e974";
}
.icon-rain-11:before {
  content: "\e975";
}
.icon-rain-122:before {
  content: "\e976";
}
.icon-rainbow:before {
  content: "\e977";
}
.icon-rainbow-1:before {
  content: "\e978";
}
.icon-rainy:before {
  content: "\e979";
}
.icon-snowflake2:before {
  content: "\e97a";
}
.icon-snowflake-1:before {
  content: "\e97b";
}
.icon-snowing:before {
  content: "\e97c";
}
.icon-snowing-1:before {
  content: "\e97d";
}
.icon-snowing-2:before {
  content: "\e97e";
}
.icon-storm2:before {
  content: "\e97f";
}
.icon-storm-12:before {
  content: "\e980";
}
.icon-storm-2:before {
  content: "\e981";
}
.icon-storm-3:before {
  content: "\e982";
}
.icon-storm-4:before {
  content: "\e983";
}
.icon-storm-5:before {
  content: "\e984";
}
.icon-sun2:before {
  content: "\e985";
}
.icon-sun-1:before {
  content: "\e986";
}
.icon-sun-2:before {
  content: "\e987";
}
.icon-sun-3:before {
  content: "\e988";
}
.icon-sun-4:before {
  content: "\e989";
}
.icon-temperature2:before {
  content: "\e98a";
}
.icon-temperature-12:before {
  content: "\e98b";
}
.icon-thermometer3:before {
  content: "\e98c";
}
.icon-thermometer-14:before {
  content: "\e98d";
}
.icon-thermometer-23:before {
  content: "\e98e";
}
.icon-thermometer-32:before {
  content: "\e98f";
}
.icon-thermometer-42:before {
  content: "\e990";
}
.icon-thermometer-52:before {
  content: "\e991";
}
.icon-tornado:before {
  content: "\e992";
}
.icon-tornado-1:before {
  content: "\e993";
}
.icon-umbrella:before {
  content: "\e994";
}
.icon-umbrella-1:before {
  content: "\e995";
}
.icon-umbrella-2:before {
  content: "\e996";
}
.icon-umbrella-3:before {
  content: "\e997";
}
.icon-umbrella-4:before {
  content: "\e998";
}
.icon-warning:before {
  content: "\e999";
}
.icon-wind2:before {
  content: "\e99a";
}
.icon-wind-sign:before {
  content: "\e99b";
}
.icon-windy:before {
  content: "\e99c";
}
.icon-windy-1:before {
  content: "\e99d";
}
.icon-windy-2:before {
  content: "\e99e";
}
.icon-cloud3:before {
  content: "\e99f";
}
.icon-cloud-computing:before {
  content: "\e9a0";
}
.icon-cloud-computing-1:before {
  content: "\e9a1";
}
.icon-cloudy3:before {
  content: "\e9a2";
}
.icon-cloudy-12:before {
  content: "\e9a3";
}
.icon-crescent:before {
  content: "\e9a4";
}
.icon-crescent-moon:before {
  content: "\e9a5";
}
.icon-crescent-moon-1:before {
  content: "\e9a6";
}
.icon-crescent-moon-2:before {
  content: "\e9a7";
}
.icon-dawn:before {
  content: "\e9a8";
}
.icon-dawn-1:before {
  content: "\e9a9";
}
.icon-dawn-2:before {
  content: "\e9aa";
}
.icon-hail2:before {
  content: "\e9ab";
}
.icon-hail-1:before {
  content: "\e9ac";
}
.icon-hail-2:before {
  content: "\e9ad";
}
.icon-hail-3:before {
  content: "\e9ae";
}
.icon-hail-4:before {
  content: "\e9af";
}
.icon-hail-5:before {
  content: "\e9b0";
}
.icon-hail-6:before {
  content: "\e9b1";
}
.icon-hail-7:before {
  content: "\e9b2";
}
.icon-hail-8:before {
  content: "\e9b3";
}
.icon-haze2:before {
  content: "\e9b4";
}
.icon-haze-12:before {
  content: "\e9b5";
}
.icon-haze-2:before {
  content: "\e9b6";
}
.icon-haze-3:before {
  content: "\e9b7";
}
.icon-haze-4:before {
  content: "\e9b8";
}
.icon-haze-5:before {
  content: "\e9b9";
}
.icon-moon:before {
  content: "\e9ba";
}
.icon-moon-1:before {
  content: "\e9bb";
}
.icon-new-moon:before {
  content: "\e9bc";
}
.icon-quarter:before {
  content: "\e9bd";
}
.icon-quarter-1:before {
  content: "\e9be";
}
.icon-rain3:before {
  content: "\e9bf";
}
.icon-rain-13:before {
  content: "\e9c0";
}
.icon-rain-22:before {
  content: "\e9c1";
}
.icon-rain-32:before {
  content: "\e9c2";
}
.icon-rain-42:before {
  content: "\e9c3";
}
.icon-rain-52:before {
  content: "\e9c4";
}
.icon-rain-62:before {
  content: "\e9c5";
}
.icon-rain-72:before {
  content: "\e9c6";
}
.icon-rain-82:before {
  content: "\e9c7";
}
.icon-rain-92:before {
  content: "\e9c8";
}
.icon-rain-102:before {
  content: "\e9c9";
}
.icon-rain-112:before {
  content: "\e9ca";
}
.icon-rain-123:before {
  content: "\e9cb";
}
.icon-rain-132:before {
  content: "\e9cc";
}
.icon-rain-14:before {
  content: "\e9cd";
}
.icon-snow:before {
  content: "\e9ce";
}
.icon-snow-1:before {
  content: "\e9cf";
}
.icon-snow-2:before {
  content: "\e9d0";
}
.icon-snowflake3:before {
  content: "\e9d1";
}
.icon-storm3:before {
  content: "\e9d2";
}
.icon-storm-13:before {
  content: "\e9d3";
}
.icon-storm-22:before {
  content: "\e9d4";
}
.icon-sun3:before {
  content: "\e9d5";
}
.icon-sunglasses:before {
  content: "\e9d6";
}
.icon-sunset:before {
  content: "\e9d7";
}
.icon-sunset-1:before {
  content: "\e9d8";
}
.icon-thermometer4:before {
  content: "\e9d9";
}
.icon-thermometer-15:before {
  content: "\e9da";
}
.icon-thermometer-24:before {
  content: "\e9db";
}
.icon-thermometer-33:before {
  content: "\e9dc";
}
.icon-umbrella2:before {
  content: "\e9dd";
}
.icon-weathercock:before {
  content: "\e9de";
}
.icon-wind3:before {
  content: "\e9df";
}
.icon-wind-12:before {
  content: "\e9e0";
}
.icon-wind-2:before {
  content: "\e9e1";
}
.icon-wind-3:before {
  content: "\e9e2";
}
.icon-wind-4:before {
  content: "\e9e3";
}
.icon-wind-5:before {
  content: "\e9e4";
}
.icon-bolt:before {
  content: "\e9e5";
}
.icon-celsius:before {
  content: "\e9e6";
}
.icon-cloud4:before {
  content: "\e9e7";
}
.icon-cloud-13:before {
  content: "\e9e8";
}
.icon-clouds2:before {
  content: "\e9e9";
}
.icon-cloudy4:before {
  content: "\e9ea";
}
.icon-drop:before {
  content: "\e9eb";
}
.icon-eclipse:before {
  content: "\e9ec";
}
.icon-fahrenheit:before {
  content: "\e9ed";
}
.icon-hail3:before {
  content: "\e9ee";
}
.icon-moon2:before {
  content: "\e9ef";
}
.icon-moon-12:before {
  content: "\e9f0";
}
.icon-moon-2:before {
  content: "\e9f1";
}
.icon-moon-3:before {
  content: "\e9f2";
}
.icon-moon-4:before {
  content: "\e9f3";
}
.icon-moon-5:before {
  content: "\e9f4";
}
.icon-moon-6:before {
  content: "\e9f5";
}
.icon-planet-earth:before {
  content: "\e9f6";
}
.icon-rain4:before {
  content: "\e9f7";
}
.icon-rain-15:before {
  content: "\e9fb";
}
.icon-rain-23:before {
  content: "\e9fc";
}
.icon-rain-33:before {
  content: "\e9fd";
}
.icon-snowflake4:before {
  content: "\e9fe";
}
.icon-storm4:before {
  content: "\e9ff";
}
.icon-sun4:before {
  content: "\ea00";
}
.icon-thermometer5:before {
  content: "\ea01";
}
.icon-thermometer-16:before {
  content: "\ea02";
}
.icon-thermometer-25:before {
  content: "\ea03";
}
.icon-tornado2:before {
  content: "\ea04";
}
.icon-wind4:before {
  content: "\ea05";
}
.icon-cloud5:before {
  content: "\ea06";
}
.icon-cloud-14:before {
  content: "\ea07";
}
.icon-cloud-3:before {
  content: "\ea08";
}
.icon-cloudy5:before {
  content: "\ea09";
}
.icon-cloudy-13:before {
  content: "\ea0a";
}
.icon-cloudy-2:before {
  content: "\ea0b";
}
.icon-cloudy-night:before {
  content: "\ea0c";
}
.icon-day:before {
  content: "\ea0d";
}
.icon-fogg:before {
  content: "\ea0e";
}
.icon-heat-1:before {
  content: "\ea0f";
}
.icon-heat-2:before {
  content: "\ea10";
}
.icon-light-bolt:before {
  content: "\ea11";
}
.icon-light-bolt-1:before {
  content: "\ea12";
}
.icon-moon3:before {
  content: "\ea13";
}
.icon-moon-13:before {
  content: "\ea14";
}
.icon-moon-22:before {
  content: "\ea15";
}
.icon-moon-32:before {
  content: "\ea16";
}
.icon-moon-42:before {
  content: "\ea17";
}
.icon-rain5:before {
  content: "\ea18";
}
.icon-rain-16:before {
  content: "\ea19";
}
.icon-rain-24:before {
  content: "\ea1a";
}
.icon-rain-34:before {
  content: "\ea1b";
}
.icon-rain-43:before {
  content: "\ea1c";
}
.icon-rain-53:before {
  content: "\ea1d";
}
.icon-rain-63:before {
  content: "\ea1e";
}
.icon-rain-73:before {
  content: "\ea1f";
}
.icon-rain-83:before {
  content: "\ea20";
}
.icon-rain-93:before {
  content: "\ea21";
}
.icon-rainbow2:before {
  content: "\ea22";
}
.icon-rainbow-12:before {
  content: "\ea23";
}
.icon-sky:before {
  content: "\ea24";
}
.icon-sky-1:before {
  content: "\ea25";
}
.icon-snow2:before {
  content: "\ea26";
}
.icon-snowflake5:before {
  content: "\ea27";
}
.icon-snowing2:before {
  content: "\ea28";
}
.icon-snowing-12:before {
  content: "\ea29";
}
.icon-sun-12:before {
  content: "\ea2a";
}
.icon-sunrise:before {
  content: "\ea2b";
}
.icon-sunrise-1:before {
  content: "\ea2c";
}
.icon-sunset2:before {
  content: "\ea2d";
}
.icon-sunset-12:before {
  content: "\ea2e";
}
.icon-temperature3:before {
  content: "\ea2f";
}
.icon-temperature-13:before {
  content: "\ea30";
}
.icon-thermometer6:before {
  content: "\ea31";
}
.icon-thermometer-17:before {
  content: "\ea32";
}
.icon-thermometer-26:before {
  content: "\ea33";
}
.icon-thermometer-34:before {
  content: "\ea34";
}
.icon-thunder:before {
  content: "\ea35";
}
.icon-tornado3:before {
  content: "\ea36";
}
.icon-waves:before {
  content: "\ea37";
}
.icon-wind5:before {
  content: "\ea38";
}
.icon-wind-13:before {
  content: "\ea39";
}
.icon-wind-22:before {
  content: "\ea3a";
}
.icon-wind-32:before {
  content: "\ea3b";
}
.icon-windy2:before {
  content: "\ea3c";
}
.icon-home2:before {
  content: "\ea3d";
}
.icon-house-floor:before {
  content: "\ea3e";
}
.icon-house-simple:before {
  content: "\ea3f";
}
.icon-away:before {
  content: "\ea40";
}
.icon-holiday:before {
  content: "\ea41";
}
.icon-work:before {
  content: "\ea42";
}
