.thermo-status {
	margin-top: 20px;
	text-align: center;
}

.thermo-status--house-icon {
	font-size: 240px;
	font-weight: 100;
}

.thermo-status--icon {
	position: absolute;
	left: 96px;
	top: 30px;
	font-size: 45px;
}

.thermo-status--value {
	font-size: 35px;
	font-weight: bold;

	i {
		font-size: 30px;
	}
}

.thermo-status--inside {
	position: relative;
	display: inline-block;

	.thermo-status--value {
		position: absolute;
		left: 67px;
	}

	.thermo-status--temp {
		top: 90px;
		color: $orange;
	}

	.thermo-status--humi {
		color: $teal;
		top: 160px;
	}
}

.thermo-status--outside {
	display: inline-block;
	font-size: 25px;
	padding-right: 10px;

	.decimal {
		font-size: 15px;
	}

	i {
		font-size: 30px;
	}

	.thermo-status--temp {
		color: $maroon;
	}

	.thermo-status--humi {
		color: $navy;
	}
}
