.thermo-select-plan--modal {
	font-size: 2.6rem;

	.thermo-select-plan--icon {
		height: 125px;
		font-size: 6rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.thermo-component {
		box-sizing: border-box;
		border: 2px solid transparent;

		&:hover {
			border: 2px solid $dark-gray;
			color: $dark-gray;
			cursor: pointer;
			background: $magnolia;
		}
	}

	.thermo-select-plan--selected {
		border: 2px solid $crimson;
		color: $crimson;
		background: $light-gray;
	}
}
